/* Stuff added by Nathan */

.mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
	font-weight:bold;
}

.box {
	margin-top: 8px;
	margin-bottom: 8px;
	/*margin-left: 12px;*/
	/*margin-right: 12px;*/
	padding:10px;
	border: 1px dashed #CCCCFF;
	background-color:#FFF;
}

.person {
	float:left;
	width: 50%;
}

.person img {
	float:left;
	height: 140px;
	margin-right:10px;
	margin-bottom:10px;
	border: 1px solid #777777;
}

.persontext {
	margin:3px;
}

.col2 {
   float: left;
   width: 50%;
}

.col2r {
   float: right;
   width: 50%;
}

.box h2 {
	width:100%;
	clear:both;
	float:left;
}
.title {
	color:#224477;
	font-size:1.2em;
	font-weight:bold;
}

.publications li {
	margin: 18px 0 0 0;
}

.bullet {
	margin-bottom: 3px;
	vertical-align: middle;
	display: inline-block;
}

.bullet > svg {
        display: inline-block;
        width: 24px;
        height: 22px;
        vertical-align: middle;
}

.bullet>svg>path {
    fill: #000;
}


.quickbox {
	float:right; text-align:right; border-left: 1px solid #CCC; padding:15px; 
	margin:0px 0px 0px 6px;
}
.quickbox ul {
    list-style-type: none;
	padding-top:7px;
}

.iconlist, .iconlist ul {
    list-style-type: none;
	padding-top:0px;
	margin-left: 6px;
}

.iconlist li {
    list-style-type: none;
	padding:10px 1px 1px 1px;
	margin: 0px;
}

.compact {
	font-size:0.8em;
}

.compact_title {
	color:#224477;
	font-weight:normal;
}

.category {
	background-color:#335588; 
/*	background-color:#117799; */
	color:white;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:right;
	padding:5px;
	margin-bottom:4px;
}

.thumbnail-left {
	background-color:#EDF4F2;
	border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	border-top-color: rgb(105, 105, 105);
    border-right-color: rgb(105, 105, 105);
    border-bottom-color: rgb(105, 105, 105);
	border-left-color: rgb(105, 105, 105);
	padding:3px;
	margin-right:6px;
	width:120px;
	float:left;
}

.thumbnail-right {
	background-color:#555555;
	border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	border-top-color: rgb(105, 105, 105);
    border-right-color: rgb(105, 105, 105);
    border-bottom-color: rgb(105, 105, 105);
	border-left-color: rgb(105, 105, 105);
	margin-left:3px;
	padding:3px;
	width:120px;
	float:right;
}
.thumbnail-right img, .thumbnail-left img {
	display: block;
}

a {
    color: #0d6efd;
    text-decoration: none;
}

footer ul {
	display: flex;
}

footer ul li {
	padding-left: 8px;
	padding-right: 8px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}