<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	{% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="PEPhub is a platform for sharing and discovering PEPs.">

	<!-- favicon -->
	<link rel="icon" type="image/x-icon" href="/static/img/pep.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{% block title %}pephub{% endblock %}</title>
  	{% endblock %}
  </head>
  <body>
	{% if is_landing_page %}
		<div class="bg-primary" style="--bs-bg-opacity: 0.2">
	{% else %}
		<div>
	{% endif %}
		{% block nav %}
		<nav class="py-2 mb-4 navbar navbar-expand-md border-bottom navbar-light" aria-label="navbar" style="background-color: #EFF3F6;">
		  <div class="container">
		    <a href="/" class="mb-3 align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
		      <img src="/static/img/pephub_logo.svg" alt="PEPhub" height="60">
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
		      <ul class="mb-2 navbar-nav ms-auto mb-sm-0">  
				<li>
				  <div class="mt-1 input-group">
				    <input id="global-search-bar" type="text" class="form-control border-end-0" placeholder="Search pephub" aria-label="search" aria-describedby="search">
					<span style="background-color:rgba(255, 255, 255, 255) !important;" class="input-group-text border-start-0">
						<div class="px-2 border rounded border-secondary text-secondary">
							/
						</div>
					</span>
				  </div>
				  <!-- searching dropdown -->
				  <div class="dropdown">
					<button id="search-dropdown-toggle" class="dropdown-toggle d-none" type="button" id="search-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
					  Search dropdown
					</button>
					<ul class="dropdown-menu" aria-labelledby="search-dropdown">
					  <li>
						<span class="dropdown-item">
						  Search pephub for <em><span id="search-dropdown-query"></span></em>
						  <button onclick="submitSearchQuery()" class="btn btn-sm btn-outline-secondary ms-3">
							Search
							<i class="bi bi-arrow-return-left"></i>
						  </button>
						</span>
					  </li>
					</ul>
				  </div>
				</li>      
		      <li class="mx-2 my-0 nav-item h5 pt-1">
		        <a class="nav-link" href="/api/v1/docs">
					<i class="bi bi-journal"></i>
					API docs
				</a>
		      </li>
		      <li class="mx-2 my-0 nav-item h5 pt-1">
		      <a class="nav-link" href="https://github.com/pepkit/pephub" target="_blank">
				<i class="bi bi-github"></i>
				GitHub
			  </a>
			  </li>
			  {% if logged_in == True %}
			  <li class="mx-2 my-0 nav-item dropdown h5 pt-1">
        	    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        	      Profile
        	    </a>
			    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        	      <li><a class="dropdown-item" href="/{{ session_info['login'] }}">View PEPs</a></li>
        	      <li><a class="dropdown-item" href="/me">Profile</a></li>
        	      <li><hr class="dropdown-divider"></li>
        	      <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
        	    </ul>
        	  </li>
			  <img class="border rounded-circle border-secondary" src="{{session_info['avatar_url']}}" alt="Avatar for {{session_info['login']}}" height="50"/>
			  {% else %}
			  <li class="mx-2 my-0 nav-item h5">
			    <a href="/auth/login">
			    	<button class="btn btn-primary"><i class="fa fa-github"></i>Login</button>
			    </a>
			  </li>
			  {% endif %}
		      </ul>
		    </div>
		  </div>
		</nav>
    {% endblock %}
    <div class="container">
    {% block content %}
    No content
    {% endblock %}
	</div>
	</div>
		{% block footer %}
		<div class="container">
		  <footer class="flex-wrap py-3 my-4 align-top d-flex justify-content-between align-items-center border-top">
			<span class="badge rounded-pill bg-secondary me-1">
				pephub {{pephub_version}}
			</span>
		  <span class="badge rounded-pill bg-secondary me-1">
              peppy {{peppy_version}}
          </span>
		  <span class="badge rounded-pill bg-secondary me-1">
		    Python {{python_version}}</span>
		  <div class="ms-auto">
		    <a href="https://databio.org/"><img src="/static/img/databio_logo.svg" alt="Sheffield Computational Biology Lab" width="200"></a>
		  </div>
			</footer>
		</div>
		{% endblock %}
		<!-- GLOBAL TOASTS FOR MOUTNING. SEE UTILS.JS -->
		<div id="toasts-container-global" class="top-0 p-3 toast-container position-absolute end-0"></div>
  </body>	
  	<!-- Bootstrap CSS + JS + icons-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<!-- Nunjucks -->
	<script src="/static/js/nunjucks.js"></script>
	<script>
		nunjucks.configure(
			'/static/templates/',
			{ autoescape: true }
		);
	</script>

	<!-- custom javascript-->
	<script src="/static/js/base.js"></script>

	<!-- global search-->
	<script>
		document.addEventListener("keydown", function (event) {
			const searchBox	= document.getElementById("global-search-bar");
			if (event.key === "/" && document.activeElement !== searchBox) {
				// detect if any input elements are focused
				var focused = document.querySelector('input:focus');
				if (focused) {
					return;
				}
				event.preventDefault();
				searchBox.focus();
			}
		})
		var searchBarNav = document.getElementById("global-search-bar");
		searchBarNav.addEventListener('keyup', toggleSearchDropdown)
		searchBarNav.addEventListener('keydown', detectSearchSubmit)

	</script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://databio.org/css/databio.css">
	<link rel="stylesheet" href="/static/css/custom.css">
	<!-- DataTables-->
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
  {% block tail %}
  {% endblock %}

</html>