{% extends "base.html" %}
{% block content %}
<div>
  <!-- store namespace in hidden input to reference in javascript functions imported -->
  <input hidden id="namespace-store" value="{{namespace}}" />
  <div class="mb-3">
    <a id="back-link" href="/{{ namespace }}/{{ project.name }}?tag={{ tag }}">
      <button class="btn btn-sm btn-outline-primary">
        <i class="bi bi-arrow-bar-left"></i>
        Back to project
      </button>
    </a>
  </div>
  <ul class="nav nav-tabs" id="editTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="metadata-tab" data-bs-toggle="tab" data-bs-target="#metadata" type="button" role="tab" aria-controls="metadata" aria-selected="true">
        Metadata
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="project-config-tab" data-bs-toggle="tab" data-bs-target="#project-config" type="button" role="tab" aria-controls="project-config" aria-selected="false">
        Project Config
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="samples-tab" data-bs-toggle="tab" data-bs-target="#samples" type="button" role="tab" aria-controls="samples" aria-selected="false">
        Sample Table
      </button>
    </li>
  </ul>
  <div class="tab-content border-start border-end border-bottom h-75" id="editTabsContent">
    <div id="validation-indicators" class="px-2 pt-1 d-flex flex-row justify-content-end align-items-center">
      <span class="me-1 fw-bold">Validation Status:</span>
      <div class="d-flex flex-row align-items-center">
        <div id="is-validating-indicator" class="d-none flex-row align-items-center">
          <span class="pulse me-1 badge bg-warning border border-light rounded-circle p-2"> 
          </span>
          <span class="me-1"><em>Validating</em></span>
        </div>
        <div id="invalid-indicator" class="d-none flex-row align-items-center">
          <span class="me-1 badge bg-danger border border-light rounded-circle p-2">
          </span>
          <span class="me-1 d-flex flex-row align-items-center">
            <em>Invalid</em> 
            <button class="ms-1 btn btn-sm btn-link text-danger">
              View Errors
            </button>
          </span>
        </div>
        <div id="valid-indicator" class="d-flex flex-row align-items-center">
          <span class="me-1 badge bg-success border border-light rounded-circle p-2">
          </span>
          <span class="me-1"><em>Valid</em></span> 
        </div>
      </div>
    </div>
    <div class="tab-pane show active" id="metadata" role="tabpanel" aria-labelledby="metadata-tab">
      <div class="p-2">        
        <form id="metadata-form" action="/api/v1/projects/{{namespace}}/{{project}}" method="PATCH">
          <div class="mb-3 form-check form-switch">
            <label class="form-check-label" for="is-private-toggle">Private</label>
            <!-- render intitial toggle based on the is_private attribute -->
            {% if is_private is sameas true %}
              <input checked="true" class="form-check-input" type="checkbox" role="switch" id="is-private-toggle">
            {% else %}
              <input class="form-check-input" type="checkbox" role="switch" id="is-private-toggle">
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="project-name" class="form-label">Project Name</label>
            <input onkeyup="detectMetadataChanges()" value="{{project.name}}" placeholder="{{ project.name }}" type="text" class="form-control" id="project-name" aria-describedby="pep-name-help">
            <div id="pep-name-help" class="form-text">Rename your PEP.</div>
          </div>
          <div class="mb-3">
            <label for="project-tag" class="form-label">Project Tag</label>
            <input onkeyup="detectMetadataChanges()" value="{{tag}}" placeholder="{{ tag }}" type="text" class="form-control" id="project-tag" aria-describedby="pep-name-help">
            <div id="pep-name-help" class="form-text">Change your project tag.</div>
          </div>
          <div class="mb-3">
            <label for="project-description" class="form-label">Project Description</label>
            <textarea onkeyup="detectMetadataChanges()" placeholder="{{ description }}" class="form-control" id="project-description" rows="3">{{description}}</textarea>
          </div>
          <button onclick="cancelChanges()" type="button" class="btn btn-outline-dark me-1">
            Cancel
          </button>
          <button onclick="handleMetaMetaDataSubmit()" id="metadata-save-btn" disabled type="button" disabled class="btn btn-success me-1">
            Save
          </button>
        </div>

        </form>
    </div>
    <div class="tab-pane" id="project-config" role="tabpanel" aria-labelledby="project-config-tab">
      <div class="p-2" id="yaml-component">
        <div id="yaml-editor-div" style="height:400px"></div>
        <div class="flex-row d-flex align-items-center justify-content-start">
          <button onclick="getProjectConfigYamlFromDatabase()" class="btn btn-outline-dark me-1">
            Cancel
          </button>
          <button onclick="handleProjectConfigYamlSubmit()" id="yaml-save-btn" disabled class="btn btn-success me-1">
            Save
          </button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="samples" role="tabpanel" aria-labelledby="samples-tab">
      <div onkeyup="detectSampleTableChanges()" id="csv-component" class="p-1">
        <div id="csv-editor-div"></div>
        <div class="mt-1">
          <button onclick="getSampleTableFromDatabase()" type="button" class="btn btn-sm btn-outline-dark">
            Cancel
          </button>
          <button onclick="handleSampleTableEditorSubmit()" id="sample-table-save-btn" disabled type="button" class="btn btn-sm btn-success">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block tail %}

<!-- hands on table-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

<!-- papa parse -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js" 
  integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer"
></script>

<!-- monaco editor -->
<script>var require = { paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' } }</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/basic-languages/yaml/yaml.js"></script>

<!-- Custom JavaScript -->
<script src="/static/js/edit_project.js"></script>
<script src="/static/js/utils.js"></script>

<!-- Init the handsontable -->
<script>
  loadHandsOnTable()
  getSampleTableFromDatabase()
</script>

<!-- monaco editor helpers -->
<script>
  <!-- this is bad, but it makes it so it works -->
  setTimeout(() => {
    loadYAMLEditor()
    getProjectConfigYamlFromDatabase()
  }, 2000)

</script>


{% endblock %}