{% extends "base.html" %}
{% block content %}
  <div>
    <h1>PEPHub API Demo</h1>
    <p id="welcome" class="text-justify">
    Welcome to the Sequence Collections API. This server hosts an implementation of the <a href="https://github.com/pepkit/pephub">the PEPHub API for PEP manipulation and sharing</a>.</p>

    <p>View the <a href="/docs">complete API documentation</a> or try these examples:<br><br>

    <h3>Retrieving a sequence collection</h3>
    Collection a6748 with 3 small sequences: <a href="/collection/a6748aa0f6a1e165f871dbed5e54ba62/1">/collection/a6748aa0f6a1e165f871dbed5e54ba62/1</a><br/>
    Now, a6748 just top-level digests: <a href="/collection/a6748aa0f6a1e165f871dbed5e54ba62/0">/collection/a6748aa0f6a1e165f871dbed5e54ba62/0</a><br/>
    Choose just the sequences, for example: <a href="/collection/3b379221b4d6ea26da26cec571e5911c/0">/collection/3b379221b4d6ea26da26cec571e5911c/0</a><br/>
    A related collection, 2786e, adds topologies: <a href="/collection/2786eb8a921aa97018c214f64b9960a0/0">/collection/2786eb8a921aa97018c214f64b9960a0/0</a><br/>
    Collection 2786e recursing down 1 level: <a href="/collection/2786eb8a921aa97018c214f64b9960a0/1">/collection/2786eb8a921aa97018c214f64b9960a0/1</a><br/>
    Old example: <a href="/collection/6115e19530a7738af5be03469fe82b82c7485960b98741cd/1">/collection/6115e19530a7738af5be03469fe82b82c7485960b98741cd/1</a>

    <h3>Comparing two sequence collections</h3>

    <p>Comparing two versions of hg38:

    <a href="/comparison/514c871928a74885ce981faa61ccbb1a/c345e091cce0b1df78bfc124b03fba1c">/comparison/514c871928a74885ce981faa61ccbb1a/c345e091cce0b1df78bfc124b03fba1c</a>
    </p>
  </div>
{% endblock %}