{% extends "base.html" %}
{% block content %}
<div class="container" style="height: 80vh" style="--bs-bg-opacity: 0.2">
  <div class="d-flex flex-column h-100 align-items-center justify-content-center">
    <div class="row align-items-center">
      <div class="col-6">
        <h1 class="fw-bolder">Easy management of sample metadata.</h1>
        <p>PEPhub is a database, web interface, and API for sharing, retrieving, and validating sample metadata. PEPhub
          takes advantage of the Portable Encapsulated Projects (PEP) biological metadata standard to let you store,
          edit, and access your PEPs in one convenient place.</p>
        <p>To get started submitting your own sample metadata, you only need a GitHub account.</p>
        {% if logged_in %}
        <a href="/{{ session_info['login'] }}">
          <button class="btn btn-dark btn-lg">
            <span class="d-flex flex-row align-items-center">
              <img class="me-1" src="/static/img/pep.svg" height="30px" />
              My PEPs
            </span>
          </button>
        </a>
        {% else %}
        <a href="/auth/login?client_redirect_uri=/login_success">
          <button class="btn btn-dark btn-lg">
            <i class="bi bi-github"></i> Login with GitHub
          </button>
        </a>
        {% endif %}
        <a href="/eido/validator/index.html">
          <button class="btn btn-outline-dark btn-lg ms-2">
            <i class="bi bi-check2-circle me-1"></i>Validation
          </button>
        </a>
      </div>
      <div class="col-6 align-items-center">
        <img class="ms-5" src="/static/img/landing_icon.svg" alt="Landing icon" height="500">
      </div>
    </div>
    <!-- Stats about pephub, commented out for now. -->
    <!-- <div class="my-2 w-100">
        <div class="d-flex flex-row align-items-center justify-content-start w-100">
          <div class="me-3 p-3 border border-2 border-dark rounded rounded-3 shadow-sm">
            <p class="mb-0 fs-3 fw-bolder">Total PEPs:</p>
            <span class="text-primary fw-bold fs-5">10,203</span>
          </div>
          <div class="me-3 p-3 border border-2 border-dark rounded rounded-3 shadow-sm">
            <p class="mb-0 fs-3 fw-bolder">Total Namespaces:</p>
            <span class="text-primary fw-bold fs-5">104</span>
          </div>
        </div>
      </div> -->
  </div>
</div>
{% endblock %}