{% extends "base.html" %}
{% block content %}
<div>
    <a href="/">← back home</a>
    <h1>{{namespace.namespace}}</h1>
    <p class="mb-0"><span class="fw-bold">Total projects:</span> {{namespace.projects|length}}</p>
    <p class="mb-0"><span class="fw-bold">Total samples:</span> {{namespace.n_samples}}</p>
    <div class="border-bottom border-secondary my-2"></div>
    <h3>API Endpoints:</h3>
    <p class="mb-2">
      <span class="badge bg-primary">GET</span>
      <span class="fw-bold">Namespace:</span>
      <code>
        <a href="/pep/{{namespace.namespace}}/">
          /pep/{{namespace.namespace}}/
        </a>
      </code>
   </p>
   <p class="mb-2">
    <span class="badge bg-primary">GET</span>
    <span class="fw-bold">Namespace:</span>
    <code>
      <a href="/pep/{{namespace.namespace}}/projects">
        /pep/{{namespace.namespace}}/projects
      </a>
    </code>
   </p>
    <div class="border-bottom border-secondary my-2"></div>
    <table class="table table-sm table-striped" id="namespace-table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Tag</th>
          <th>No. of Samples</th>
          <th>API Endpoint</th>
        </tr>
      </thead>
      <tbody>
        {% for proj in namespace.projects %}
        <tr>
          <td><a href="/pep/{{namespace.namespace}}/{{proj.name}}/view?tag={{proj.tag}}">{{proj.name}}</a></td>
          <td>{{proj.tag}}</td>
          <td>{{proj.n_samples}}</td>
          <td>
            <code><a href="/pep/{{namespace.namespace}}/{{proj.name}}"><span class="badge bg-primary">GET</span> /pep/{{namespace.namespace}}/{{proj.name}}</a></code>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  <!-- DataTabes-->
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
  <!--assign to table -->
  <script>
        const table = new simpleDatatables.DataTable("#namespace-table")
  </script>
{% endblock %}