{% extends "base.html" %}
{% block content %}
<div>
    <h1>Available Projects:</h1>
    <div class="my-1 border-bottom border-secondary"></div>
    {% for proj in namespace.projects %}
      {% set proj =  namespace.projects[proj] %}
      <div class="card my-2">
        <div class="card-header">
            <h4 class="m-0">{{ proj.name }}</h2>
        </div>
        <div class="p-2">
            <div class="my-1">
                <span class="badge bg-primary">GET</span>
                <code>/pep/{{ namespace.name }}/{{ proj.name }}</code>
            </div>
            <div>
                <p><span class="fw-bold">No. of Samples:</span> {{ proj._info.n_samples }}</p>
            </div>
            <a href="/pep/{{ namespace.name }}/{{ proj.name }}/view">
              <button class="btn btn-sm btn-primary">View Project</button>
            </a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}