{% extends "base.html" %}
{% block content %}
<div>
    <h1 class="border-bottom border-secondary">Available Namespaces:</h1>
    <div class="my-2">
        {% for nspace in nspaces %}
        <div class="card my-2">
        <div class="card-header">
          <h2 class="m-0"> 
            {{ nspace.namespace }}
          </h2>
        </div>
        <div class="p-2">
          <div class="my-1">
              <span class="badge bg-primary">GET</span>
              <code>/pep/{{ nspace.namespace }}</code>
          </div>
          <div class="mb-2">
            <p class="mb-0">{{ nspace.description }}</p>
            <p class="mb-0"><span class="fw-bold">No. of Projects:</span> {{ nspace.n_projects}}</p>
            <p class="mb-0"><span class="fw-bold">No. of Samples:</span> {{ nspace.n_samples }}</p>
          </div>
          <div>
              <a href="/pep/{{ nspace.name}}/view">
                <button class="btn btn-sm btn-primary">View Namespace</button>
              </a>
          </div>
        </div>
    </div>
        {% endfor %}

    </div>
</div>
{% endblock %}