{% extends "base.html" %}
{% block content %}
<div>
    <a href="/pep/{{namespace}}/view">← back to {{ namespace }}</a>
    <div class="d-flex flex-row align-items-start justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <h1>
          {{ namespace }}/{{ project.name }}
        </h1>
        <span class="mx-2 fs-5 badge rounded-pill bg-dark">{{tag}}</span>
      </div>
      <div>
        <button class="btn btn-outline-primary">
          <i class="bi bi-pencil"></i>
          Edit
        </button>
        <button class="btn btn-outline-danger">
          <i class="bi bi-trash3"></i>
          Delete
        </button>
      </div>
    </div>
    <p class="mb-0">
      <span class="fw-bold">PEP Version:</span> {{ pep_version }} 
    </p>
    <p class="mb-0">
      <span class="fw-bold">Total Samples:</span> {{ n_samples }}
    </p>
    <div class="border-bottom border-secondary my-2"></div>
    <h3>API Endpoints:</h3>
      <p class="mb-2">
        <span class="badge bg-primary">GET</span>
        <span class="fw-bold">Project:</span>
        <a href="/pep/{{ namespace }}/{{ project.name }}"><code>/pep/{{ namespace }}/{{ project.name }}</code></a>
     </p>
     <p class="mb-2">
        <span class="badge bg-primary">GET</span>
        <span class="fw-bold">Samples:</span>
        <a href="/pep/{{ namespace }}/{{ project.name }}/samples"><code>/pep/{{ namespace }}/{{ project.name }}/samples</code></a>
      </p>
      <p class="mb-2 sample-endpoint">
        <span class="badge bg-primary">GET</span>
        <span class="fw-bold">Specific Sample:</span>
        <code>
          <a class="m-0" href="/pep/{{ namespace }}/{{ project.name }}/samples/{{samples[0]['sample_name']}}" id="sample-name-link">/pep/{{ namespace }}/{{ project.name }}/samples/</a><select class="text-primary" name="Sample name" id="sample-name" onchange="toggleSampleName(this)">
            {% for s in samples %}
              <option>{{s['sample_name']}}</option>
            {% endfor %}
          </select>
        </code>
      </p>
      <p class="mb-2">
        <span class="badge bg-primary">GET</span>
        <span class="fw-bold">Subsamples:</span>
        <a href="/pep/{{ namespace }}/{{ project.name }}/subsamples"><code>/pep/{{ namespace }}/{{ project.name }}/subsamples</code></a>
      </p>
      {% for f in filters %}
      <p class="mb-2">
        <span class="badge bg-primary">GET</span>
        <span class="fw-bold">Convert project to {{f}}</span>
        <a href="/pep/{{ namespace }}/{{ project.name }}/convert?filter={{f}}"><code>/pep/{{ namespace }}/{{ project.name }}/convert?filter={{f}}</code></a>
      </p>
      {% endfor %}
    <div class="border-bottom border-secondary my-2"></div>
    <div class="my-2 overflow-auto">
            <table class="table table-sm table-striped" id="project-table">
                <thead>
                    <th>View</th>
                    {% for col in sample_table_columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </thead>
                <tbody class="small">
                    {% for s in samples %}
                        <tr>
                            <td>
                                <a href="/pep/{{ namespace }}/{{ project.name }}/samples/{{s.sample_name}}/view">
                                    /pep/{{ namespace }}/{{ project.name }}/samples/{{s.sample_name}}/view
                                </a>
                            </td>
                            {% for col in sample_table_columns %}
                                <td>{{s[col]}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
      <div class="my-2">

      </div>
    </div>
  <!-- DataTabes-->
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
  <!--assign to table -->
  <script>
    const table = new simpleDatatables.DataTable("#project-table")
  </script>
  <script type="text/javascript">
    function toggleSampleName(sel) {
      const link = document.getElementById("sample-name-link")
      link.href=`/pep/{{ namespace }}/{{ project.name }}/samples/${sel.value}`
    }
  </script>
  <!-- <script type="text/javascript">
    const data = JSON.parse('{{ project_dict|tojson }}')
    document.getElementById("project-config").textContent = JSON.stringify(data, null, 2)
  </script> -->
{% endblock %}