{% extends "base.html" %}
{% block content %}
<div>
    <h2>{{namespace}}/{{project_name}}/samples/{{sample.sample_name}}</h2>
    <div class="border-bottom border-secondary"></div>
    <div class="my-2">
        <h3>Sample Attributes:</h3>
        <ul>
        {% for a in attrs %}
            <li class="mb-2">
                <span class="fw-bold">{{a}}: </span>
                <span class="text-primary">{{ sample[a] }} </span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}