{% extends "base.html" %}
{% block content %}
<div id="search-page" class="h-100" style="min-height: 70vh;">
  <div class="mb-3 d-flex flex-row align-items-center">
    <div class="input-group">
      <input value="{{query}}" type="text" class="form-control" id="search-bar" placeholder="Whats your favorite cell line?">
      {% if query != "" %}
      <button onclick="runSearchQuery()" class="btn btn-outline-primary" type="button" id="search-btn">Search</button>
        {% else %}
      <button disabled onclick="runSearchQuery()" class="btn btn-outline-primary" type="button" id="search-btn">Search</button>
        {% endif %}
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#searchSettingsModal">
          <i class="bi bi-sliders"></i>
        </button>  
    </div>  
  </div>
  <div class="border-b border-secondary"></div>
  <div id="search-results" class="d-flex flex-column align-items-center justify-content-center">
  {% if query == "" %}
      <span class="mt-5 text-secondary">Try searching for projects or namespaces!</span>
  {% else %}
    <div class="d-flex flex-row align-items-center justify-content-center mt-5">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="ms-3 text-secondary">
        <em>Fetching PEPs</em>
      </span>
    </div>
  </div>
  {% endif %}
</div>
<div class="d-none" id="search-query-value">{{query}}</div>

<!-- search settings modal -->
<div class="modal" id="searchSettingsModal" tabindex="-1" aria-labelledby="searchSettingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Score Threshold -->
          <label class="d-flex flex-row align-items-center" for="scoreThreshold" class="form-label">
            Score threshold
            <button 
              class="btn py-0 px-0 ms-1"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Specify a cutoff for the vector similarity score. Lower scores will return more results."
            >
              <i class="bi bi-info-circle"></i>
            </button>
          </label>
          <div class="d-flex flex-row align-items-center">
            <input id="scoreThreshold" value="50" step="0.5" min="0" max="100" onchange="updateScoreThresholdDisplay()" type="range" class="form-range" id="scoreThreshold">
            <div class="ms-2 text-center" style="min-width: 4rem;">
              <span class="fw-bold px-2" id="scoreThresholdValue">0.5</span>
            </div>
        </div>
        <!-- Limit -->
        <label class="d-flex flex-row align-items-center mt-3" for="limit" class="form-label">
          Limit
          <button 
            class="btn py-0 px-0 ms-1"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Specify a limit on the number of results returned. Higher limits will take longer to return results."
          >
            <i class="bi bi-info-circle"></i>
          </button>
        </label>
        <select id="searchLimit" class="form-control form-select w-100">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="250">250</option>
          <option value="500">500</option>
        </select>
        <!-- Offset -->
        <label class="d-flex flex-row align-items-center mt-3" for="offset" class="form-label">
          Offset
          <button 
            class="btn py-0 px-0 ms-1"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Specify an offset for the results returned. Useful for pagination."
          >
            <i class="bi bi-info-circle"></i>
          </button>
        </label>
        <select id="searchOffset" class="form-control form-select w-100">
          <option value="0">0</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="250">250</option>
          <option value="500">500</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="resetAdvancedSettings()" class="btn btn-outline-dark">Reset</button>
        <button type="button" onclick="runSearchQuery()" class="btn btn-success" data-bs-dismiss="modal">Search</button>
      </div>
    </div>
  </div>
</div>


<!-- populate things on page load-->
<script src="/static/js/search.js"></script>
<script>
  // run search on page load
  var queryOnPageLoad = document.getElementById("search-query-value").innerText;
  runSearchQuery(queryOnPageLoad, true);

  // assign event listeners
  const searchBar = document.getElementById("search-bar");
  const searchButton = document.getElementById("search-btn");
  searchBar.addEventListener("keyup", function(event) {
      if (event.key === "Enter") {
          event.preventDefault();
          runSearchQuery(searchBar.value);
      }
  });
  searchBar.addEventListener("keyup", function(event) {
      if (searchBar.value.length > 0) {
          searchButton.disabled = false;
      } else {
          searchButton.disabled = true;
      }
  });

</script>
{% endblock %}