fastapi>=0.72.0
aiofiles
eido
logmuse>=0.2.7
jinja2>=3.1.2
yacman>=0.8.4
python-multipart>=0.0.5
tqdm
uvicorn
python-dotenv
pepdbagent
peppy
qdrant-client
requests
aiofiles
pyjwt[crypto]
coloredlogs
-f https://download.pytorch.org/whl/torch_stable.html
torch>=1.6.0+cpu
sentence-transformers