body {
  /* overflow: scroll; /* Show scrollbars */
  overflow: auto;
}

.namespace-nav {
  .nav-link.active {
    background-color: #0080ffc8 !important;
  }
}

.top-z {
  z-index: 1000;
}

/* from tailwinds mb-0.5 */
.mb-tiny {
  margin-bottom: 0.125rem;
}
.container-height {
  min-height: calc(100vh - 300px);
}

.h-screen {
  height: 100vh;
}

/* edit buttons, since I like mine better than bootstrap :) */
.btn-outline-dark:hover {
  color: black;
  background-color: #0000001e;
}

.btn {
  /* medium shadow */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* tailwind pulse */
.pulse {
  overflow: visible;
  position: relative;
}
.pulse:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  transition: opacity 0.3s, transform 0.3s;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}
@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

/* tailwind bounce */
.bounce {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* tailwind bounce but in x direction */
.bounce-x {
  animation: bounce-x 1s infinite;
}
@keyframes bounce-x {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* tailwin spin */
.spin {
  animation: spin 1s linear infinite;
}
.spin-fast {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashed-border {
  border-style: dashed !important;
}

.dnd-box {
  border-style: dashed !important;
}

.dnd-box:hover {
  background-color: #9b9b9b1e !important;
  cursor: pointer;
}

/* Assign backgroiund on drag over */
.dnd-box:-moz-drag-over {
  background-color: #9b9b9b1e !important;
}

/* tailwind truncate */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-auto {
  overflow: auto;
}

/* tailwind cursors */
.cursor-pointer {
  cursor: pointer;
}

/* Tailwind font-size utilities */
.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}
.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}
.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

.text-primary-light {
  color: #7ab9fd;
}

/* Hover affects for bootstrap text-colors */
.text-primary-hover:hover {
  color: #007bff !important;
  transition: color 0.1s ease-in-out;
}

.text-secondary-hover:hover {
  color: #6c757d !important;
  transition: color 0.1s ease-in-out;
}

.text-success-hover:hover {
  color: #28a745 !important;
  transition: color 0.1s ease-in-out;
}

.text-info-hover:hover {
  color: #17a2b8 !important;
  transition: color 0.1s ease-in-out;
}

.text-warning-hover:hover {
  color: #ffc107 !important;
  transition: color 0.1s ease-in-out;
}

.text-danger-hover:hover {
  color: #dc3545 !important;
  transition: color 0.1s ease-in-out;
}

.text-light-hover:hover {
  color: #f8f9fa !important;
  transition: color 0.1s ease-in-out;
}

.text-dark-hover:hover {
  color: #343a40 !important;
  transition: color 0.1s ease-in-out;
}

.text-transparent {
  color: transparent !important;
}

.project-button-toggles {
  background-color: none !important;
}

.project-button-toggles:hover {
  background-color: #00000011 !important;
  transition: background-color 0.1s ease-in-out;
}

.fill-primary {
  fill: #7ab9fd;
}

.fill-secondary {
  fill: #6c757d;
}

.fill-success {
  fill: #28a745;
}

.fill-info {
  fill: #17a2b8;
}

.fill-warning {
  fill: #ffc107;
}

.fill-danger {
  fill: #dc3545;
}

.fill-light {
  fill: #f8f9fa;
}

.fill-dark {
  fill: #343a40;
}

.hover-bg-primary:hover {
  background-color: #7ab9fd84;
}

.hover-bg-secondary:hover {
  background-color: #6c757d;
}

.hover-bg-success:hover {
  background-color: #28a745;
}

.hover-bg-info:hover {
  background-color: #17a2b8;
}

.hover-bg-warning:hover {
  background-color: #ffc107;
}

.hover-bg-danger:hover {
  background-color: #dc3545;
}

.hover-bg-light:hover {
  background-color: #f8f9fa;
}

.hover-bg-dark:hover {
  background-color: #343a40;
}

.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

/* tailwind word wrapping */
.break-words {
  word-wrap: break-word;
}
.break-all {
  word-break: break-all !important;
}
.break-normal {
  word-break: normal;
  overflow-wrap: normal;
}
.break-keep-all {
  word-break: keep-all;
}

.no-breaks p {
  margin: 0;

  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none {
  text-decoration: none !important;
}

.triangle-up {
  position: 'absolute' !important;
  top: '-10px' !important;
  left: '50%' !important;
  margin-left: '-10px' !important;
  width: '0' !important;
  height: '0' !important;
  border-left: '10px solid transparent' !important;
  border-right: '10px solid transparent' !important;
  border-bottom: '10px solid #343a40' !important;
}

/* blank pep grid */
.namespace-name-tag-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/* line clamp search hit description */
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* landing container full page height, but only on desktop */
@media (min-width: 768px) {
  .h80 {
    height: 80vh;
  }
}
@media (min-width: 768px) {
  h40 {
    height: 40vh;
  }
}

.code-snippet-container {
  min-height: 200px;
}

.wtHolder {
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px #ccc inset;
}

/*  on mobile, remove all x-margins */
@media screen and (max-width: 990px) {
  .landing-table-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

/* subtle glow animation */
.landing-paths {
  transform: translateY(-40%) translateX(-5%);
}

.landing-path-glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    stroke: #7ab9fd;
  }
  to {
    stroke: #007bff;
  }
}

/* mobile gaurd - dont render if on iPad or smaller */
@media (max-width: 768px) {
  .mobile-gaurd {
    display: none;
  }
}

.landing-icon-border {
  border: 1px solid;
  animation: border-glow 1s ease-in-out infinite alternate;
}

@keyframes border-glow {
  from {
    border-color: #7ab9fd;
  }
  to {
    border-color: #0d6efd;
  }
}

.top-left-landing-icon {
  position: absolute;
  bottom: 332px;
  left: -22px;
  width: 140px;
  height: 50px;
}

.bottom-left-landing-icon {
  position: absolute;
  top: 338px;
  left: -22px;
  width: 140px;
  height: 50px;
}

.top-right-landing-icon {
  position: absolute;
  bottom: 332px;
  right: 37px;
  width: 140px;
  height: 50px;
}

.bottom-right-landing-icon {
  position: absolute;
  top: 338px;
  right: 37px;
  width: 140px;
  height: 50px;
}

@media (max-width: 1398px) {
  .top-left-landing-icon {
    position: absolute;
    bottom: 300px;
    left: -30px;
    width: 140px;
    height: 50px;
  }

  .bottom-left-landing-icon {
    position: absolute;
    top: 305px;
    left: -30px;
    width: 140px;
    height: 50px;
  }

  .top-right-landing-icon {
    position: absolute;
    bottom: 300px;
    right: 30px;
    width: 140px;
    height: 50px;
  }

  .bottom-right-landing-icon {
    position: absolute;
    top: 305px;
    right: 30px;
    width: 140px;
    height: 50px;
  }
}

@media (max-width: 1198px) {
  .landing-paths {
    height: 550px;
    width: 510px;
    transform: translateY(-41%) translateX(20px);
  }
}

@media (max-width: 990px) {
  .landing-paths {
    display: none;
  }

  /*  icons disappear */
  .top-left-landing-icon {
    display: none !important;
  }

  .bottom-left-landing-icon {
    display: none !important;
  }

  .top-right-landing-icon {
    display: none !important;
  }

  .bottom-right-landing-icon {
    display: none !important;
  }
}

.translate-y-1-up {
  transform: translateY(-1rem);
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.large-flex {
  @media (min-width: 1024px) {
    display: flex;
  }
}

.large-hidden {
  @media (min-width: 1024px) {
    display: none;
  }
}

.list-none {
  list-style: none;
}

.handsontable .truncated {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.handsontable .expanded {
  white-space: normal;
  overflow: visible;
}

.viewing-history-border {
  border: 4px solid #ed8936;
}

.schema-card {
  cursor: pointer;
  transition: border-color 0.2s;

  /* no link underline or color */
  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    border-color: #636363 !important;
  }
}

.validation-badge {
  display: inline-block;
  height: 10px !important;
  width: 10px !important;
}

.validation-button {
  /* no box shadow */
  box-shadow: none !important;
  transition: box-shadow 0.1s ease-in-out;
  height: 31px !important;
}

.schemas-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;
  /*  if small just make 1fr */
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.glow-button {
  --box-shadow-color: black;
  box-shadow: 0 0 7px var(--box-shadow-color);
}

.btn-primary.glow-button {
  --box-shadow-color: #007bff80;
}

.btn-secondary.glow-button {
  --box-shadow-color: #6c757d80;
}

.btn-success.glow-button {
  --box-shadow-color: #28a74580;
}

.btn-danger.glow-button {
  --box-shadow-color: #dc354580;
}

.btn-warning.glow-button {
  --box-shadow-color: #ffc10780;
}

.btn-info.glow-button {
  --box-shadow-color: #17a2b880;
}

.btn-light.glow-button {
  --box-shadow-color: #f8f9fa80;
}

.btn-dark.glow-button {
  --box-shadow-color: #343a4080;
}
